<ul class="side-nav headerpagehome text-center">
    <li class="active zimzim-li-tabs" onClick="zimzimtabs(this, 'main-page');">
        <a href="#">
            {{ 'views.opinion.butchery.show.home'|trans }}
        </a>
    </li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="zimzim-li-tabs" onClick="zimzimtabs(this, 'opinion-page');">
        <a href="#">
            {{ 'views.opinion.butchery.show.opinion'|trans }}
        </a>
    </li>
    <li class="zimzim-li-tabs" onClick="zimzimtabs(this, 'offer-page');">
        <a href="#">
            {{ 'views.opinion.butchery.show.sale'|trans }}
        </a>
    </li>
</ul>