<div class="row zimzim-tabs" id="opinion-page" >
    <div class="medium-12 columns">
        <h1 class="title-mini headerpagehome">
            <a href="{{ path('zimzim_opinion_butchery_showbutchery', {'unik': entity.unik}) }}">
                {{ 'views.opinion.butchery.show.showopinion.titlesmall'|trans({'%name%': entity.name}) }}
            </a>
        </h1>
    </div>
</div>