{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.opinion.butchery.show.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-2 columns text-left" id="menu">

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/menu.html.twig' %}

                </div>
                <div class="medium-10 columns text-center">

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/main-page.html.twig' %}

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/opinion-page.html.twig' %}

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/offer-page.html.twig' %}

                </div>
            </div>
            <div class="row">
                <div class="medium-2 columns text-center">
                    <a href="javascript:void(0);" onClick="$('#form-add-opinion').fadeIn();" class="tiny button round">
                        {{ 'views.opinion.butchery.show.newopinion'|trans }}
                    </a>
                </div>
                <div class="medium-10 columns">

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/form-add-opinion.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}