{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.opinion.butchery.show.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-2 columns text-left" id="menu">

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/menu.html.twig' %}

                </div>
                <div class="medium-10 columns text-center">

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/main-page.html.twig' %}

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/opinion-page.html.twig' %}

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/offer-page.html.twig' %}

                </div>
            </div>
            <div class="row">
                <div class="medium-2 columns text-center">
                    <a href="javascript:void(0);" onClick="$('#form-add-opinion').fadeIn();" class="tiny button round">
                        {{ 'views.opinion.butchery.show.newopinion'|trans }}
                    </a>
                </div>
                <div class="medium-10 columns">

                    {% include 'ZIMZIMBundlesOpinionBundle:Butchery:include/form-add-opinion.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
var tabsanimate = 0;
var tabsinterval = false;

var zimzimtabs = function (element, tabindex) {
    if ($('#' + tabindex).hasClass('active') === false) {
        $('li.zimzim-li-tabs').removeClass('active');
        $(element).addClass('active');
        var index = tabindex;
        var _self = this;
        if (false === tabsinterval) {
            _self.animatetabs(index);
            tabsinterval = setInterval(function () {
                _self.animatetabs(index);
            }, 0750);
        }
    }
};

var animatetabs = function (index) {
    if (tabsanimate == 0) {
        $('div.zimzim-tabs.active').addClass('animate scaleYclose');
    }
    if (tabsanimate == 1) {
        $('div.zimzim-tabs').removeClass('animate scaleYclose active');
        $('#' + index).addClass('animate scaleYopen active');
    }
    if (tabsanimate == 2) {
        tabsanimate = -1;
        clearInterval(tabsinterval);
        tabsinterval = false;
    }
    tabsanimate++;
};

</script>
{% endblock javascripts %}