{% extends 'ZIMZIMBundlesOpinionBundle:Butchery:show.html.twig' %}

{% block title %}
    {{ 'views.opinion.butchery.showsales.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block menupage %}
    {% set indexcurrent = 2 %}
    {{ parent() }}
{% endblock menupage %}

{% block pagepage %}
    <div class="row">
        <div class="medium-12 columns">
            <h1 class="title-mini headerpagehome">
                <a href="{{ path('zimzim_opinion_butchery_displayname', {'unik': entity.unik}) }}">
                    {{ 'views.opinion.butchery.showsales.titlesmall'|trans({'%name%': entity.name}) }}
                </a>
            </h1>
        </div>
    </div>
{% endblock pagepage %}