<div id="form_city_post_code">
    {{ form_start(form) }}
    <div class="row ">
        <div class="medium-12 columns text-center">
            <label class="input-up">{{ 'views.address.citypostcode.form.inputvile.label'|trans }}</label>
        </div>
        <div class="medium-12 columns text-center">
            {{ form_widget(form.citypostcode) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>