@import "settings";
@import "normalize";
@import "foundation";

/*******hack foundation top bar*******/
.top-bar .name{
    line-height: 45px;
    a{
        color: #FFF;
        padding: 0 1rem;
    }
}

.full-width{
    max-width: 100%;
}