@import "settings";
@import "normalize";
@import "foundation";

/*******hack foundation top bar*******/
.top-bar .name{
    line-height: 45px;
    a{
        color: #FFF;
        padding: 0 1rem;
    }
}

.full-width{
    max-width: 100%;
}

.width-100{
    width: 100%;
}

span.logo-small-tiers{
    width: 40px;
    height: 40px;
    background-size: 120px 40px;
    display: inline-block;
}
.image-facebook{
    background-image: url('../../images/logotiers.png');
    background-position: 0;
}
.image-google{
    background-image: url('../../images/logotiers.png');
    background-position: 80px;
}
.image-twitter{
    background-image: url('../../images/logotiers.png');
    background-position: 40px;
}
.padding-top-10{
    padding-top: 10px;
}