@import "settings";
@import "normalize";
@import "foundation";

/*******hack foundation top bar*******/

.top-bar .name{
    line-height: 45px;
    a{
        color: #FFF;
        padding: 0 1rem;
    }
}

.title-top-bar{
    font-size: 0.75rem;
}

.full-width{
    max-width: 100%;
}

.width-100{
    width: 100%;
}

span.logo-small-tiers{
    width: 40px;
    height: 40px;
    background-size: 120px 40px;
    display: inline-block;
}
.image-facebook{
    background-image: url('../../images/logotiers.png');
    background-position: 0;
}
.image-google{
    background-image: url('../../images/logotiers.png');
    background-position: 80px;
}
.image-twitter{
    background-image: url('../../images/logotiers.png');
    background-position: 40px;
}
.padding-top-10{
    padding-top: 10px;
}

html, body{

}

h1.headerpagehome{padding-top:3rem;padding-bottom: 2rem;}
h1.title-mini{font-size: 1.82rem;}
h2.title-mini{
    font-size: 1.25rem;
}
h3.title-mini{
    font-size: 1.45rem;
    font-weight: bold;
    padding-top: 2rem;
}
.case-home{
    padding: 1rem;
    margin: 0 0;
}
.case-home-p{
  padding: 2rem 3rem;
  margin: 0 0;
  font-size: 1.25rem;
}
label.input-up{

}
.padding-top{
    padding: 2rem 0;
}

.bg-vichi{
    background-image: url('../../images/butchery3.png');
}
.bold{
    font-weight: bold;
}
.no-margin > input{
    //margin: 0 0;
    //border: none;
    //box-shadow: rgba(0, 0, 0, 0.9);
    //background: #FEFFFE;
}